<div id="breadcrumbs">
  <%= link_to "Home", "/" %> > <%= link_to "All Seats", seats_path %> > <%=h @seat.name %>
</div>

<div id="map" style="width: 300px; height: 300px"></div>
<script type="text/javascript">
  google.load("maps", "2");
  // Call this function when the page has been loaded
  function initialize() {
    var map = new google.maps.Map2(document.getElementById("map"));
    var sw = new GLatLng(<%= @seat.min_lat%>, <%= @seat.min_lon%>);  
    var ne = new GLatLng(<%= @seat.max_lat%>, <%= @seat.max_lon%>);  
    var bounds = new GLatLngBounds(sw, ne);  
    map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds));
    var geocoder = new GClientGeocoder();
    <% @seat.events.each_index do |i| %>
      <% event = @seat.events[i] %>
      var address<%=i%> = "<%=h event.location.delete("\n\r") %>";
      geocoder.getLatLng(
        address<%=i%>,
        function(point) {
          if (point) {
            var marker = new GMarker(point);
            GEvent.addListener(marker, "click", function() {
              document.location = "<%= seat_event_path @seat, event %>";
            });
            map.addOverlay(marker);
          }
        }
      );
    <% end -%>
  }
  google.setOnLoadCallback(initialize);
</script>

<h1><%=h @seat.name %></h1>

<ul class="formats">
  <li><%= link_to image_tag('calendar.png'), seat_url(@seat, :format => :icalendar) %> <%= link_to "iCalendar", seat_url(@seat, :format => :icalendar) %></li>
  <li><%= link_to image_tag('feed.png'), seat_url(@seat, :format => :atom) %> <%= link_to "Atom feed", seat_url(@seat, :format => :atom) %></li>
</ul>
<h2>Events</h2>
<ul>
  <% @events.each do |event| -%>
    <li><%= event.starting_at.to_date.to_s(:short) %>: <%= link_to "#{h(event.title)}", seat_event_path(@seat, event) %></li>
  <% end -%>
</ul>

We need your help! If you know of something not listed here, please <%= link_to "add&nbsp;an&nbsp;event", new_seat_event_path(@seat) %>.

<h2>Links</h2>
<ul>
  <li>See details of your candidates on <%= link_to "YourNextMP", "http://www.yournextmp.com/seats/#{@seat.code}" %>.</li>
  <li>View local election leaflets on <%= link_to "The Straight Choice", "http://www.thestraightchoice.org/leaflets.php?n=#{@seat.code}" %>.</li>
  <li>Get more involved in your area with <%= link_to "Democracy Club", "http://www.democracyclub.org.uk/constituencies/#{@seat.code.gsub('_','-')}/" %>.</li>
</ul>

