<% form_for [@seat, @event] do |f| %>
  <%= f.error_messages %>
  <table id="event_form_table">
    <tr>
      <td><%= f.label :title %>:</td><td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label :starting_at, "When" %>:</td><td><%= f.datetime_select :starting_at %></td>
    </tr>
    <tr>
      <td><%= f.label :location, "Where" %>:</td><td><%= f.text_area :location, :rows => 5 %></td>
    </tr>
    <tr>
      <td><%= f.label :description %>:</td><td><%= f.text_area :description, :rows => 5 %></td>
    </tr>
    <tr>
      <td><%= f.label :reference %>:</td><td><%= f.text_field :reference %> (where you found the details)</td>
    </tr>
    <tr>
      <td>Attendees:</td>
      <td>
        <% @seat.candidates.each do |c| -%>
          <%= check_box 'candidates', c.code, :checked => @event.candidates.include?(c) %><%=h c.name %> (<%=h c.party %>)<br/>
        <% end -%>
      </td>
    </tr>
    <tr>
      <td><%= @event.captcha.task %> =</td><td><%= f.text_field :captcha_solution %><%= f.hidden_field :captcha_secret %> (so we know you're human)</td>
    </tr>
    <tr>
      <td></td><td><%= f.submit %></td>
    </tr>
  </table>
<% end %>
