<div id="breadcrumbs">
  <%= link_to "Home", "/" %> > <%= link_to "All Seats", seats_path %> > <%= link_to @seat.name, @seat %> > <%=h @event.title %>
</div>

<div id="map" style="width: 300px; height: 300px"></div>
<script type="text/javascript">
  google.load("maps", "2");
  // Call this function when the page has been loaded
  function initialize() {
    var map = new google.maps.Map2(document.getElementById("map"));
    var geocoder = new GClientGeocoder();
    var address = "<%=h @event.location.delete("\n\r") %>";
    geocoder.getLatLng(
      address,
      function(point) {
        if (point) {
          map.setCenter(point, 13);
          var marker = new GMarker(point);
          map.addOverlay(marker);
        }
      }
    );
  }
  google.setOnLoadCallback(initialize);
</script>

<h1><%=h @event.title %></h1>

<p class="whenandwhere">
  When: <%= @event.starting_at.strftime("%I:%M%p, %B %d") %>
  <br/>
  Where: <%=h @event.location %>
</p>

<p class="description">
  <%=h @event.description %>
</p>

<h2>Who will be there?</h2>

<% if @event.candidates.empty? -%>
  <p id="attending">No candidates are confirmed yet.</p>
<% else -%>
  <table id="attending">
    <% @event.candidates.each do |c| -%>
      <tr> 
        <td class="image"><%= image_tag(c.image) if c.image %></td>
        <td class="name"><%= link_to h(c.name), "http://yournextmp.com/candidates/#{c.code}" %></td>
        <td class="party"><%= link_to h(c.party), "http://yournextmp.com/parties/#{c.party_code}" %></td>
      </tr>
    <% end -%>
  </table>
<% end -%>

<p>
  Something wrong here? <%= link_to "Edit this event", edit_seat_event_path(@seat, @event) %>.
</p>

<p class="reference">
  Source: <%=h @event.reference %>
</p>
