<div id="breadcrumbs">
  <%= link_to "Home", "/" %> > <%= link_to "All Seats", seats_path %> > <%= link_to @seat.name, @seat %> > <%=h @event.title %>
</div>

<div id="map" style="width: 300px; height: 300px"></div>
<script type="text/javascript">
  google.load("maps", "2");
  // Call this function when the page has been loaded
  function initialize() {
    var map = new google.maps.Map2(document.getElementById("map"));
    var geocoder = new GClientGeocoder();
    var address = "<%=h @event.location.delete("\n\r") %>";
    geocoder.getLatLng(
      address,
      function(point) {
        if (!point) {
          alert(address + " not found");
        } else {
          map.setCenter(point, 13);
          var marker = new GMarker(point);
          map.addOverlay(marker);
        }
      }
    );
  }
  google.setOnLoadCallback(initialize);
</script>

<h1><%=h @event.title %></h1>

<p class="whenandwhere">
  When: <%= @event.starting_at.strftime("%I:%M%p, %B %d") %>
  <br/>
  Where: <%=h @event.location %>
</p>

<p class="description">
  <%=h @event.description %>
</p>

<p>
  Something wrong here? <%= link_to "Edit this event", edit_seat_event_path(@seat, @event) %>.
</p>

<p class="reference">
  Source: <%=h @event.reference %>
</p>
