<html>
  <head>
    <title>QuestionYourCandidates</title>
    <script type="text/javascript" src="http://www.google.com/jsapi?key=<%= APP_CONFIG[:gmaps_key] %>"></script>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "prototype" %>
  </head>
  <body>
    <div id="header">
      <%= render :partial => "main/search_form" unless @controller.is_a? MainController %>
      <h1>QuestionYourCandidates</h1>
      <h2>Listing election debates in your area</h2>
    </div>
    <div id="content">
      <% if flash[:notice] -%>
        <div class="flash">
          <%=h flash[:notice]%>
        </div>
      <% end -%>
      <%= yield %>
      <div style="clear:both"></div>
    </div>
    <div id="footer">
      <div id="license"><a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/2.0/uk/80x15.png" /></a></div>
      Made by <%= link_to "James Smith", "http://www.floppy.org.uk" %>, using data from <%= link_to "YourNextMP", "http://yournextmp.com"%> and <%=link_to "TheyWorkForYou", "http://theyworkforyou.com" %>. Code available on <%= link_to "GitHub", "http://github.com/Floppy/questionyourcandidates" %>.
    </div>
  </body>
</html>
